# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# pbp bluehost
5sites
404.shtml
*php.ini*
ss_blank.php
listserv
test

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
